@import url(../style.css);

body {
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light',
		'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.ccanvas {
	left: 0;
	top: 0;
	width: 100%;
}

#input-zone {
	top: 0;
	width: 100%;
	border-bottom: 1px black solid;
}

#inputZoneFullHeight {
	top: 0;
	width: 100%;
	height 100%;
}

.cinput {
	border: 0px solid #000000;
	padding: 4px;
	display: inline-block;
	font-size: 17px;
	background-color: white;
}

.cbutton {
	border: 0;
	border-top: 1px solid black;
	border-left: 3px solid #000000;
	padding: 5px;
	min-width: 70px;
	background-color: white;
	color: black;
	text-decoration: none;
}

.cbutton:hover {
	background-color: #AB000B;
	color: white;
}

.clabel {
	padding: 5px;
	min-width: 60px;
	display: inline-block;
	background-color: #fff700;
}

.crlabel {
	padding: 5px;
	width: 60px;
	display: inline-block;
	background-color: #ff0000;
}

.cglabel {
	padding: 5px;
	width: 60px;
	display: inline-block;
	background-color: #00ff00;
}

.cblabel {
	padding: 5px;
	width: 60px;
	display: inline-block;
	background-color: #0000ff;
}

.checkboxContainer {
	height: 100px;
	width: 59%;
	overflow-y: scroll;
	border: 0px black solid;
}

.canvasScroll {
	overflow: scroll;
	width: 49%;
	height: auto;
	display: inline-block;
}
